<div class="container-fluid main-body"><br /><br />
<div class="portfolio-items grid">
  <div class="row" style="margin:0px !important;">
  <% @articles.each do |article| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card"  >
        <div class="card-image waves-effect waves-block waves-light">
          <%= link_to(article_path(article), :class => 'hello') do %>
            <%= image_tag article.image.articlehome.url, :class => 'img-responsive homepage' %>
          <% end %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <h5><%= article.title %> <br /><small><%= article.created_at.strftime("%B  %d, %Y") %></small></h5> 
            <i class="material-icons right">add</i>
          </span>
          <p>
            <a href="<%= article_path(article) %>" class="readmorehome">Read More</a>
          </p>
        </div>
        <div class="card-reveal" id="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>
            <h5><%= article.title %></h5>
          </span>
          <h4>
            <small><%= article.created_at.strftime("%B  %d, %Y") %></small>
          </h4>
          <%= article.homepreview2.html_safe %> <br /><br /><br />
            <% if article.artists.blank? %>
            <% else %><h6 class="arttit">Related Artists:</h6>
            <% article.artists.each do |artist| %>
              <div class="chip">
              <%= link_to(artist_path(artist)) do %>
              <%= image_tag artist.photo.articlehome.url %>
              <%= artist.name %><% end %>
              </div>
            <% end %>
            <% end %>
            <br /><br />
          <p>
          <a href="<%= article_path(article) %>"  class="readmorehome">Read More</a>
          </p>
        </div>
      </div>
    </div> 
  <% end %>
  </div>
</div>
<div class="clear"></div>
</div>
<% content_for :extra_footer do %>
  <%= javascript_include_tag 'materialize' %>
<% end %>
