 <div class="container">

<div class="portfolio-items grid">
  <ul id="grid-items" class="cs-style-3" id="gallery">
   <% @articles.each do |article| %>
        <li class="col-md-4" >
           
<figure >

<div class="blur pic">

<%= link_to(article_path(article)) do %>
<%= image_tag article.image.url, :style => 'width:100%; height:100%;', :class => 'img-responsive homeimage' %>
<h4>
<span class="htext">
<%= link_to(article_path(article)) do %>
<%= simple_format word_wrap(article.title, :line_width => 28).gsub("\n", "</p><span class='title2line'>"), :class => 'title' %> <% end %>
</span>
</h4>
</div>  
 
<figcaption>

<div class="date"><%= article.created_at.strftime("Added on %d/%m/%Y") %></div>
<p><%= article.homepreview2 %>


</p> 
 
 <div class="button-holder2">
  <div class="center-content"> 
    <a href="<%= article_path(article) %>" class="type-2">
      <span> Read More </span>
      <span> Read More </span>
    </a> 
    </div>
    </div>
<br /><br /></figcaption>
</figure>
<% end %>
</a>
  </li>
  <% end %> 
    </ul> 
   
    </div> 
<div class="clear"></div>
 
 </div> 


