 

<div class="main-page-header">
<div class="m-p-h">
<%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'Press', presses_path %>  <span class="break">></span>  <span class="artname"> <%= @press.title %>
</span>
<br /><br />
<span class="artist-name-main">
<%= @press.title %> 
</span> <br /><br /></div>
</div> 
  <br />  <br /> 

 <div class='containernohome'> 
<div class="container" >
<div class="col-md-3 imgmain"> 
 <%= image_tag @press.photo.url, :style => 'width:100%; height:100%;', :class => 'img-responsive news-main' %> <br />  
 <div class="related">Recent News</div><br />
 <ul>
 <% @articles.each do |article| %>
 <li class="recent"><%= link_to article.title, article_path(article) %> 
 </li>
 <% end %>
 </ul>
 <br /> 
 <div class="related">Recent Awards</div><br />
 <ul>
 <% @awards.each do |award| %>
 <li class="recent"><%= link_to award.title, award_path(award) %>
 </li>
 <% end %>
 </ul> 
</div>
 
 

<div class="col-md-9">
 
<p> <br /><%= @press.body.html_safe %></p>
 
 <% if @press.artists.blank? %>
<br />
 <% else %>
 <div class="related2">Related Artists:</div><br />
 <% @press.artists.each do |artist| %>
 <div class="col-md-2  col-xs-6" style="padding-left:0px;">
 
 <%= link_to (image_tag artist.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive '), artist_path(artist) %>

    <%= link_to artist.name, artist_path(artist), :class =>'artist-name' %>
 </p>
  </div> <% end %>
<% end %>

   </div>
   </div> 

   <div class="clear"></div>  
 
  <br />

  <div class="newslist arti">
 
 </div>
</div>
<div class="clear"></div>  
 <style>
 .imgmain{text-align:right; padding-left:0px;} 
img.news-main {border:1em solid white;}
.col-md-9 {background-color:white;} 
</style>








