<% content_for :title, "| Press" %>
<div class="main-page-header">
<div class="m-p-h">
<%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'Press', presses_path %>  <span class="break">></span>  <span class="artname"> <%= @press.title %>
</span>
<br /><br />
<span class="artist-name-main" style="float:left">
<%= @press.title %>  
   
</span>  
<span class="artist-name-main" style="float:right; padding-right:15px;">
<small><%= @press.created_at.strftime('%-d %B %Y ') %></small>
</span>
<br /><br /></div>
</div> 
  <br />  <br /> 

 <div class='containernohome news'>  

<div class="col-md-3 col-sm-3">
<%= image_tag @press.image.url, :class => 'img-responsive newsimage' %><br />
<% if @press.artists.blank? %>
<br />
 <% else %>
<div class="extras relateartist">
 <h5>Related Artists:</h5></div>
<br />
 <% @press.artists.each do |artist| %>
 <div class="col-md-6 col-sm-6 relateartist" style="padding-left:0px;">
 
 <%= link_to (image_tag artist.photo.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi'), artist_path(artist) %>

    <p class="morearticles"><%= link_to artist.name, artist_path(artist), :class =>'artist-name' %></p>
 </p>
  </div> <% end %>
<% end %>
</div>
<div class="col-md-9 col-sm-9 newsblur">
<div class="mainblurb"> 
 <%= @press.body.html_safe %> 
 <Br />
 <% if @press.link.blank? %>
 <% else %>
 <%= link_to "Read More", "#{@press.link}", target: "_blank", class: "btn btn-large btn-primary" %>
<br /><br />
 <% end %>

 <% if @press.download.blank? %> 
 <% else %>
 <%= link_to 'Download Press Story', pdfdown_press_path(@press), class: "btn btn-large btn-primary" %>
 
 
<br /><br />
 <% end %>

 <% if @press.youtube.present? %> 
<div class="embed-container"><%= embed(@press.youtube) %>  </div>
 
  <% else %>
                          <% end %>
 
</div>
</div>
</div>
<div class="clear"></div> 
<div class="container-bottomnews">
<div class="bottom-news">
<div class="col-md-12 extras">
<div class="col-md-3 relateartist">
 

  <h5>Share This News Story</h5>
    <ul class="sharesocial social-buttons">
      <li class="social2"><div class="entypo-facebook"><span class="normalfont"> Facebook</span></div></li>
      <li class="social2"><div class="entypo-twitter"><span class="normalfont"> Twitter</span></div></li>
      <li class="social2"><div class="entypo-facebook"><span class="normalfont"> Facebook</span></div></li>
    </ul>
</div>
 <% if @press.artists.blank? %>
 
 <% else %>
<div class="col-md-3 relateartist">
  <h5>Related Stories</h5>
    <ul class="sharesocial">
      <% @presses.each do |press| %>
      <li><%= link_to press.titlepreviewnews, press_path(press) %></li>
      <% end %>
    </ul>
</div>
<% end %>


<div class="col-md-6 morenews">
  <h5>More Press</h5><br />
    <div class="col-md-6 nopadleft">
      <% if @press.previous %>
        <%= link_to(press_path(@press.previous)) do %>
          <div class="previous" style="background-image:url('<%= @press.previous.image.morenews.url %>'); background-size:cover; opacity: 0.3;"> </div>

           <div class="arrow"></div>
         <p class="morearticles"> <%= link_to @press.previous.title, press_path(@press.previous) %> </p>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6 nopadright">
      <% if @press.next %>
        <%= link_to(press_path(@press.next)) do %>
          <div class="next" style="background-image:url('<%= @press.next.image.morenews.url %>'); background-size:cover; opacity:0.3;"></div>

           <div class="arrownext"></div>
        <p class="morearticles"> <%= link_to @press.next.title, press_path(@press.next) %></p> 
        <% end %>
      <% end %>
      </div>
</div>



</div>
</div>
 <div class="clear"></div> 

  
</div>



 

