<% content_for :title, "| Roster" %>

<div class="main-page-header">
<div class="m-p-h">
<%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'Roster', roster_index_path %> 
</span>
<br /><br />
<span class="artist-name-main">
Roster
</span>
 

 <br /><br /></div>
</div> 
 <div class='containernohome'>  <br /><br />
 
   

 
 
 
<ul class="grid-items"> 
<% if @all_artists.empty? %>
    <h1><center>We currently have no Artists matching your search criteria<br /><br />Please try again</center></h1>
    <% else %>

<% @all_artists.each do |artist| %>  
 
<li class="col-md-3 col-xs-6 col-sm-3">
<div class="artistmain">
<%= link_to(artist_path(artist)) do %>
 <%= image_tag artist.photo.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive' %> 
  <h5 style="font-size:120%"><%= artist.name %></h5>
  <br />
  <% end %>
  </div>
</li>  
 <% end %> <% end %>
</ul> 
 </div> 
</div>

  <div class="clear"></div><br /><br >
 