<div class="main-page-header">
<div class="m-p-h">
<%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'Artists', artists_path %>  <span class="break">></span>  <span class="artname"> <%= @artist.name %>
</span>
<br /><br />
<span class="artist-name-main">
<%= @artist.name %> 
</span> 
<div class="socart">
<% if @artist.twitter.blank? %>
      <% else %>
 <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/twitter1.png", :class => "twitter", :style => " padding:0.2em; width:45px; height:45px"), 'http://' + @artist.twitter %> <% end %>

 <% if @artist.facebook.blank? %>
      <% else %>
 <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/facebook1.png", :class => "twitter", :style => " padding:0.2em; width:45px; height:45px"), 'http://' + @artist.facebook %> <% end %>
  
 </div> <br /><br /></div>
</div> 
  <br />  <br /> 

 <div class='containernohome'>  

<div class="col-md-3">
<%= image_tag @artist.photo.url, :class => 'img-responsive ' %><br />
<h3 class="arttit">Genre(s): <small><% @artist.genres.each do |genre| %><%= genre.name %><% end %></small></h3><br />
  <% if @artist.releases.blank? %>
<br />
 <% else %>
<div class="extras">
<h3 class="arttit">Releases:</h3></div>
<br />
 <% @artist.releases.each do |release| %>
 <div class="col-md-6" style="padding-left:0px;">
 
 <%= link_to (image_tag release.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi'), release_path(release) %>

    <p class="morearticles"><%= link_to release.title, release_path(release), :class =>'artist-name' %></p>
 </p>
  </div> <% end %><% end %>
</div>
<div class="col-md-9 newsblur">
<div class="mainblurb">
 
<p><%= @artist.biog.html_safe %></p> 

</div>
</div>
</div>
<div class="clear"></div> 
<div class="container-bottomnews">
<div class="bottom-news">
<div class="col-md-12 extras">
<div class="col-md-3">
  <h5>Share This Artist</h5>
    <ul class="sharesocial">
      <li><img width="30px" style="padding-right:0.4em;"  src="http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/bdface1.png"> Facebook</li>
      <li><img width="30px"   style="padding-right:0.4em;" src="http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/bdtwit1.png"> Twitter</li>
      <li><img width="30px" style="padding-right:0.4em;"  src="http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/bdface1.png"> Email</li>
    </ul>
</div>
 <% if @artist.articles.blank? %>
 
 <% else %>
<div class="col-md-3">
  <h5>Related Articles</h5>
    <ul class="sharesocial">
        <% @artist.articles.each do |article| %>
        <li>
<%= link_to article.title, article_path(article), :class =>'artist-name' %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="col-md-6">
  <h5>Discover</h5><br />
      <!--<ul class="sharesocial">
        <% if defined?(@composer_artists) %>
       <% @genre_artists.each do |artist| %>
        <li>
<%= link_to artist.name, artist_path(artist), :class =>'artist-name' %>
        </li>
        <% end %> <% end %>
    </ul>--> 

    <% @related_artists.each do |artist| %><div class="col-md-4">
    <%= link_to(artist_path(artist)) do %>
    <%= image_tag artist.photo.artistmain.url, :class => 'img-responsive newsimage' %>
    <%= artist.name %></div><% end %>
    <% end %>
</div>

</div>
</div>
 <div class="clear"></div> 

  
</div>



 

