<% content_for :title, "| Roster" %>
<div class="main-page-header">
  <div class="m-p-h">
    <%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'Roster', artists_path %>  <span class="break">></span>  <span class="artname"> <%= @artist.name %>
  </span>
  <br /><br />
  <span class="artist-name-main">
    <%= @artist.name %> <br /><% if @artist.types.blank? %> <% else %>
    <small style="font-size:65%"> <ul class="arttypes"><% @artist.types.each do |type| %><li><%= type.name %></li><% end %></ul></small><% end %>
  </span> 
  <div class="socart">
    <% if @artist.twitter.blank? %>
    <% else %>
    <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/twitter1.png", :class => "twitter", :style => " padding:0.2em; width:45px; height:45px"), 'http://' + @artist.twitter %> <% end %>

    <% if @artist.facebook.blank? %>
    <% else %>
    <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/facebook1.png", :class => "twitter", :style => " padding:0.2em; width:45px; height:45px"), 'http://' + @artist.facebook %> <% end %>

  </div>  </div>
</div> 
<br />  <br /> 

<div class='containernohome'>  

  <div class="col-md-3 col-sm-3 artistimageetc">
 
 

    <%= image_tag @artist.photo.url, :class => 'img-responsive ' %>
 
    <% if @artist.genres.present? %>
    <h4 class="artside"><ul class="arttypes">Genres:<small>
    
    <% @artist.genres.each do |genre|  %>
    <li><%= genre.name %></li>
    <% end %>
    </ul></small></h4>
    <% else %>
    <% end %>

    <% if @artist.biography.present? %>
  <h4 class="artside">Download<small> <%= link_to 'Biography', download_artist_path(@artist) %></small></h4> 
    <% end %> 

    <% if @artist.audios.any? %>
<h4 style="   padding:10px 0px;  border-bottom: 1px solid #848f81; line-height:20px;">Listen</h4>
    <audio preload=""></audio>
    <ol class="audioplayer">
     
    <% @artist.audios.each do |audio| %>

      <li class="audioli"><a href="#" data-src=<%= audio.track.url %>><%= audio.name %></a></li>
    <% end %>
    </ol>
    <% end %>

  </div> 
  <div class="col-md-9 col-sm-9 newsblur">
    <div class="mainblurb"> 
<span class="artist-name-main" style="font-size:120%"> Biography
  </span> <br /><br />

      <%= @artist.biog.html_safe %> 



    </div>
    <% if @artist.releases.blank? %>
    
    <% else %>
    <div class="extras"><br /><br />
      <h3 class="arttit">Releases:</h3></div>
      <br />
      <% @artist.releases.order('releases.date DESC').each do |release| %>
      <div class="col-md-2 col-xs-3 col-sm-3" style="padding-left:0px;">

       <%= link_to (image_tag release.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi'), release_path(release) %>

       <p class="morearticles"><%= link_to release.artpreview, release_path(release), :class =>'release-name' %></p>
     </p>
   </div> <% end %><% end %>
 </div>



</div>
<div class="clear"></div> 
<div class="container-bottomnews">
  <div class="bottom-news">
    <div class="col-md-12 extras">
      <div class="col-md-3">
        <h5>Share This Artist</h5>
        <ul class="sharesocial">
          <li><img width="30px" style="padding-right:0.4em;"  src="http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/bdface1.png"> Facebook</li>
          <li><img width="30px"   style="padding-right:0.4em;" src="http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/bdtwit1.png"> Twitter</li>
          <li><img width="30px" style="padding-right:0.4em;"  src="http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/bdface1.png"> Email</li>
        </ul>
      </div>
      <% if @artist.articles.blank? %>

      <% else %>
      <div class="col-md-3">
        <h5>Related Articles</h5>
        <ul class="sharesocial">
          <% @artist.articles.limit(5).each do |article| %>
          <li>
            <%= link_to article.title, article_path(article), :class =>'artist-name' %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="col-md-6 col-xs-12">
        <h5>Discover</h5><br />
      <!--<ul class="sharesocial">
        <% if defined?(@composer_artists) %>
       <% @genre_artists.each do |artist| %>
        <li>
<%= link_to artist.name, artist_path(artist), :class =>'artist-name' %>
        </li>
        <% end %> <% end %>
      </ul>--> 

      <% @related_artists.each do |artist| %><div class="col-md-4 col-xs-6 col-sm-6">
      <%= link_to(artist_path(artist)) do %>
      <%= image_tag artist.photo.artistmain.url, :class => 'img-responsive newsimage' %>
      <%= artist.name %></div><% end %>
      <% end %>
    </div>

  </div>
</div>
<div class="clear"></div> 


</div>


<style>
  a.release-name{
    color: #848f81;
    font-size: 80%;
    letter-spacing: 1px;
    text-align: left;
  }
  .next {    background-color: transparent;}
  p.morearticles{padding-top:0px;} 
  .td.player .tdicon-td_logo-link {display:none;}
  .player-next.next {
    width: 10px;
    height: 10px;}

    .tdbody {background-color: white;
      font-size: 100%;}
      .track-info-name {font-size:12px;}
      .td.player.shrink .playlist {max-height: 125px}

      h4.artside {padding-top:1em; }
    </style>

    <script>
     $(document).ready(function() {

        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        }); 
        // Load in the first track
        var audio = a[0];
        first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });
        // Keyboard shortcuts
        $(document).keydown(function(e) {
          var unicode = e.charCode ? e.charCode : e.keyCode;
             // right arrow
             if (unicode == 39) {
              var next = $('li.playing').next();
              if (!next.length) next = $('ol li').first();
              next.click();
            // back arrow
          } else if (unicode == 37) {
            var prev = $('li.playing').prev();
            if (!prev.length) prev = $('ol li').last();
            prev.click();
            // spacebar
          } else if (unicode == 32) {
            audio.playPause();
          }
        })
      });
</script>



