<% content_for :title, "| Roster" %>
<div class="main-page-header">
  <div class="m-p-h">
    <%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'Roster', artists_path %>  <span class="break">></span>  <span class="artname"> <%= @artist.name %>
  </span>
  <br /><br />
  <span class="artist-name-main artistmm">
    <%= @artist.name %> <br /><% if @artist.types.blank? %> <% else %>
    <small style="font-size:65%"> <ul class="arttypes"><% @artist.types.order('name ASC').each do |type| %><li><%= type.name %></li><% end %></ul></small><% end %>
  </span> 
  <div class="socart">
    <% if @artist.has_shop? %>
    <%= link_to 'Sheet Music Shop', shop_artist_path(@artist), :class => 'btn btn-primary sheetbutton2' %>
    <% end %>

    <% if @artist.facebook.blank? %>
    <% else %>
    <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/facebook1.png", :class => "twitter", :style => " padding:0.2em; width:45px; height:45px"), 'http://' + @artist.facebook, :target => "_blank" %> <% end %>
<% if @artist.twitter.blank? %>
    <% else %>
    <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/twitter1.png", :class => "twitter", :style => " padding:0.2em; width:45px; height:45px"), 'http://' + @artist.twitter, :target => "_blank" %> <% end %>
  </div>  </div>
</div> 
<br />  <br /> 

<div class='containernohome'>  

  <div class="col-md-3 col-sm-3 artistimageetc">
 
 

    <%= image_tag @artist.photo.url, :class => 'img-responsive ' %>
 

    

    
    <% if @artist.biography.present? %>
  <h4 class="artside">Download:<small class="notsomuch"> <%= link_to 'Biography', download_artist_path(@artist) %></small></h4> 
    <% end %> 

    <% if @artist.spotify.present? %>
     <br /> 
      <%= @artist.spotify.html_safe %>
    <% else %>
    <% if @artist.audios.any? %>
    <h4 style="padding-top: 10px;
    padding-bottom: 0px;text-transform: capitalize;
    font-size: 100%;">Listen:</h4><hr style="margin-top: 0em;">
    <audio preload=""></audio>
    <ol class="audioplayer">
     
    <% @artist.audios.order('arrange ASC').each do |audio| %>

      <li class="audioli"><a href="#" data-src=<%= audio.track.url %>><%= audio.name %></a></li>
    <% end %>
     
    </ol>
    <% end %>
    <% end %>

    

 
     <% if @artist.articles.present? %>
     <h4 style="padding-top: 10px;
    padding-bottom: 0px;text-transform: capitalize;
    font-size: 100%;">Recent News:</h4><hr style="margin-top: 0em;">
     <ul>
      <% @artist.articles.limit(10).each do |article| %>
      <li>
        <%= link_to article.title, article_path(article) %><Br /> <br />
      </li>
      <% end %>
    </ul>
      <% else %>
      <% end %>


    </div> 
  <div class="col-md-9 col-sm-9 newsblur">
    <div class="mainblurb"> 
<span class="artist-name-main" style="font-size:120%"> Biography
  </span> <br /><br /> 
     
 
<div>
  <% if @artist.biog.html_safe.length > 2000 %>
    <%= truncate(@artist.biog.html_safe, length: 1000, escape: false) %>
    <%= link_to '...Read more', '', class: "read-more-#{@artist.id}" %>
    <script>
      $('.read-more-<%= @artist.id %>').on('click', function(e) {
        e.preventDefault()
        $(this).parent().html('<%= escape_javascript @artist.biog.html_safe %>')
      })
    </script>
  <% else %>
    <%= @artist.biog.html_safe %>
  <% end %>
</div> 


    </div><hr class="artbiog" style='margin-top:1.3em;'>
   


<div class="col-md-12 artdisco">
 <% if @artist.releases.blank? %>
 <br />
 <% elsif @artist.releases.count < 6 %>
 <div class="extras"> 
      <span class="artist-name-main" style="font-size:120%"> Discography
  </span> </div> <br />
 <% @artist.releases.order('releases.date DESC').each do |release| %>
      <div class="col-md-2 col-xs-3 col-sm-3" style="padding-left:0px;">

       <%= link_to (image_tag release.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi'), release_path(release) %>
  
   </div>
 <% end %>
 <% elsif @artist.releases.count == 6 %>
 <div class="extras"> 
      <span class="artist-name-main" style="font-size:120%"> Discography
  </span> </div> <br />
 <% @artist.releases.order('releases.date DESC').each do |release| %>
      <div class="col-md-2 col-xs-3 col-sm-3" style="padding-left:0px;">

       <%= link_to (image_tag release.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi'), release_path(release) %>
  
   </div>
 <% end %>
 <% elsif @artist.releases.count > 6 %>
 <div class="extras"> 
      <span class="artist-name-main" style="font-size:120%"> Discography
  </span> </div><br />
 <% @artist.releases.order('releases.date DESC').limit(6).each do |release| %>
      <div class="col-md-2 col-xs-3 col-sm-3" style="padding-left:0px;">

       <%= link_to (image_tag release.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi'), release_path(release) %>
  
   </div>

 <% end %>
 <br /><br />






 





<div class="clear"><br /></div>
 <%= link_to "Show More Releases", "#{root_path}releases?utf8=✓&q%5Btitle_or_partist_cont%5D=&q%5Bgenres_id_eq%5D=&q%5Bartists_id_eq%5D=#{@artist.id}&q%5Bformats_id_eq%5D=&commit=Search", class: "btn btn-primary lowercase" %> 
 <% end %>
 </div>
<div class="clear"></div>

<% if @artist.videos.present? %>
<hr class="artbiog2">
<% else %>
<% end %>

<div class="col-md-12 artdisco">
 <% if @artist.videos.blank? %>
 <br />
 <% elsif @artist.videos.count < 6 %>
 <div class="extras"> 
      <span class="artist-name-main" style="font-size:120%"> Videos
  </span> </div> <br />
 <% @artist.videos.order('videos.created_at DESC').each do |video| %> 
        <%= link_to(video_path(video)) do %>
      <div class="col-md-2 col-xs-3 col-sm-3 videobox2" style="padding-left:0px;"> 
      <%= image_tag video.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi' %> 
      <span></span>  
       </div>
<% end %> 
   
 <% end %>
 <% elsif @artist.videos.count == 6 %>
 <div class="extras">
      <span class="artist-name-main" style="font-size:120%"> Videos
  </span> </div> <br />
  <% @artist.videos.order('videos.created_at DESC').each do |video| %> 
        <%= link_to(video_path(video)) do %>
      <div class="col-md-2 col-xs-3 col-sm-3 videobox2" style="padding-left:0px;"> 
      <%= image_tag video.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi' %> 
      <span></span>  
       </div>
<% end %> 
   
 <% end %>
 <% elsif @artist.videos.count > 6 %>
 <div class="extras"> <span class="artist-name-main" style="font-size:120%"> Videos
  </span> </div><br />

   <% @artist.videos.order('videos.created_at DESC').limit(6).each do |video| %> 
        <%= link_to(video_path(video)) do %>
      <div class="col-md-2 col-xs-3 col-sm-3 videobox2" style="padding-left:0px;"> 
      <%= image_tag video.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi' %> 
      <span></span>  
       </div>
<% end %> 
   
 <% end %>
 
 <br /><br />

<div class="clear"> <br /></div>
 <%= link_to "Show More Videos", "#{root_path}videos?utf8=%E2%9C%93&q%5Btitle_cont%5D=&q%5Bartists_id_eq%5D=#{@artist.id}&commit=Search", class: "btn btn-primary lowercase" %>  <br /><br />
 <% end %>
 </div>
<div class="clear"></div>
  

 </div>


 </div>

</div>
<div class="clear"></div> 
  

 <%= content_for :extra_footer do %>
    <script>
     $(document).ready(function() {

        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        }); 
        // Load in the first track
        var audio = a[0];
        first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });
        // Keyboard shortcuts
        $(document).keydown(function(e) {
          var unicode = e.charCode ? e.charCode : e.keyCode;
             // right arrow
             if (unicode == 39) {
              var next = $('li.playing').next();
              if (!next.length) next = $('ol li').first();
              next.click();
            // back arrow
          } else if (unicode == 37) {
            var prev = $('li.playing').prev();
            if (!prev.length) prev = $('ol li').last();
            prev.click();
            // spacebar
          } else if (unicode == 32) {
            audio.playPause();
          }
        })
      });


</script>

<% end %>

