<% content_for :title, "| Roster" %>
<div class="main-page-header">
  <div class="m-p-h">
    <%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'Roster', artists_path %>  <span class="break">></span>  <span class="artname"> <%= @artist.name %>
  </span>
  <br /><br />
  <span class="artist-name-main">
    <%= @artist.name %> <br /><% if @artist.types.blank? %> <% else %>
    <small style="font-size:65%"> <ul class="arttypes"><% @artist.types.each do |type| %><li><%= type.name %></li><% end %></ul></small><% end %>
  </span> 
  <div class="socart">
    <% if @artist.twitter.blank? %>
    <% else %>
    <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/twitter1.png", :class => "twitter", :style => " padding:0.2em; width:45px; height:45px"), 'http://' + @artist.twitter %> <% end %>

    <% if @artist.facebook.blank? %>
    <% else %>
    <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/facebook1.png", :class => "twitter", :style => " padding:0.2em; width:45px; height:45px"), 'http://' + @artist.facebook %> <% end %>

  </div>  </div>
</div> 
<br />  <br /> 

<div class='containernohome'>  

  <div class="col-md-3 col-sm-3 artistimageetc">
 
 

    <%= image_tag @artist.photo.url, :class => 'img-responsive ' %>
 
    <% if @artist.genres.present? %>
    <h4 class="artside"><ul class="arttypes">Genres:<small>
    
    <% @artist.genres.each do |genre|  %>
    <li><%= genre.name %></li>
    <% end %>
    </ul></small></h4>
    <% else %>
    <% end %>

    <% if @artist.biography.present? %>
  <h4 class="artside">Download:<small> <%= link_to 'Biography', download_artist_path(@artist) %></small></h4> 
    <% end %> 

    <% if @artist.audios.any? %>
<h4 style="   padding:10px 0px;  border-bottom: 1px solid #848f81; line-height:20px;">Listen:</h4>
    <audio preload=""></audio>
    <ol class="audioplayer">
     
    <% @artist.audios.each do |audio| %>

      <li class="audioli"><a href="#" data-src=<%= audio.track.url %>><%= audio.name %></a></li>
    <% end %>
    </ol>
    <% end %>
    <h4 class="artside">Share This Artist:</h4>
      <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/facebook1.png", :class => "twitter", :style => "width:40px; padding-right:0.4em;"), 'http://www.facebook.com/sharer.php?u=' + request.original_url + '&t=' + @artist.name  %> 
      <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/05/twitter1.png", :class => "twitter", :style => "width:40px; padding-right:0.4em;"), 'https://twitter.com/intent/tweet?url=' + request.original_url + '&via=BDiMusic' %>
      <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/12/email.png", :class => "twitter", :style => "width:40px; padding-right:0.4em;"), 'https://twitter.com/intent/tweet?url=' + request.original_url + '&via=BDiMusic' %>
    </div> 
  <div class="col-md-9 col-sm-9 newsblur">
    <div class="mainblurb"> 
<span class="artist-name-main" style="font-size:120%"> Biography
  </span> <br /><br /> 
     
 
<div>
  <% if @artist.biog.html_safe.length > 2000 %>
    <%= truncate(@artist.biog.html_safe, length: 2000, escape: false) %>
    <%= link_to '...Read more', '', class: "read-more-#{@artist.id}" %>
    <script>
      $('.read-more-<%= @artist.id %>').on('click', function(e) {
        e.preventDefault()
        $(this).parent().html('<%= escape_javascript @artist.biog.html_safe %>')
      })
    </script>
  <% else %>
    <%= @artist.biog.html_safe %>
  <% end %>
</div> 


    </div><Br /><hr>
   



 <% if @artist.releases.blank? %>
 <br />
 <% elsif @artist.releases.count < 12 %>
 <div class="extras"><br />
      <span class="artist-name-main" style="font-size:120%"> Discograpy
  </span> </div> <br />
 <% @artist.releases.order('releases.date DESC').each do |release| %>
      <div class="col-md-2 col-xs-3 col-sm-3" style="padding-left:0px;">

       <%= link_to (image_tag release.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi'), release_path(release) %>

       <p class="morearticles"><%= link_to release.artpreview, release_path(release), :class =>'release-name' %></p>
     </p>
   </div>
 <% end %>
 <% elsif @artist.releases.count > 12 %>
 <div class="extras"><br />
      <span class="artist-name-main" style="font-size:120%"> Discograpy
  </span> </div><br />
 <% @artist.releases.order('releases.date DESC').limit(12).each do |release| %>
      <div class="col-md-2 col-xs-3 col-sm-3" style="padding-left:0px;">

       <%= link_to (image_tag release.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi'), release_path(release) %>

       <p class="morearticles"><%= link_to release.artpreview, release_path(release), :class =>'release-name' %></p>
     </p>
   </div>

 <% end %><div class="clear"></div>
 <%= link_to "Show More Releases", "http://localhost:3000/releases?utf8=%E2%9C%93&q=&genre=&artist=#{@artist.id}&production=&commit=Search", class: "btn btn-primary fright" %> 
 <% end %>


 </div>

</div>
<div class="clear"></div> 
  

 <%= content_for :extra_footer do %>
    <script>
     $(document).ready(function() {

        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        }); 
        // Load in the first track
        var audio = a[0];
        first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });
        // Keyboard shortcuts
        $(document).keydown(function(e) {
          var unicode = e.charCode ? e.charCode : e.keyCode;
             // right arrow
             if (unicode == 39) {
              var next = $('li.playing').next();
              if (!next.length) next = $('ol li').first();
              next.click();
            // back arrow
          } else if (unicode == 37) {
            var prev = $('li.playing').prev();
            if (!prev.length) prev = $('ol li').last();
            prev.click();
            // spacebar
          } else if (unicode == 32) {
            audio.playPause();
          }
        })
      });
</script>

<% end %>

