<%= render 'shared/adminnav' %>
<div class="col-md-9">
<h4> List Of Press</h4><%= link_to "+ New", new_admin_press_path, class: "btn btn-primary"  %>
<table class="admin-table-news">
  <tbody> 
 <th class="a-one"><p>ID</p></th>
  <th class="a-one"><p>Image</p></th>
  <th class="a-two"><p>Title</p></th> 

  <th class="a-three"><p>Created At</p></th> 
  <th class="a-four"><p>Links</p></th>
  </tbody>
<% @presses.each do |press| %>
  <tr> 
  <td class="a-one"><p><%= press.id %></p></td>
  <td class="a-one"> <%= image_tag press.image.thumbnail.url, :class =>  "imagethumb admin-artist" %></td>
  
  <td class="a-two" style="padding-right:10px;"><p><%= link_to press.title, press_path(press) %></p></td> 
  
  <td class="a-threes"><p><%= press.created_at.strftime('%d/%m/%Y at %H:%m%p') %></p>
   
  </td> 
  <td class="a-four"> <%= link_to "Edit", edit_admin_press_path(press), :class =>  "btn btn-primary", :method => :get  %> 
   <%= link_to 'Delete', admin_press_path(press), method: :delete, class: "btn btn-primary"  %></td>

  </tr>

<% end %>
</table><br /><br />
<div class="col-md-10"> 
    <div class="middle">
      <%= will_paginate @presses, :page_links => true, :previous_label => '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>', :next_label => '<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>' %>
      </div>
    </div>
</div>
</div> 




<%= render 'shared/adminnavfooter' %>



