<% content_for :title, "| Roster" %>
<div class="main-page-header">
  <div class="m-p-h">
    <%= link_to 'Home', root_path %>  
    <span class="break">></span>  
    <%= link_to 'Roster', artists_path %> 
    <span class="break">></span>  <span class="artname"> 
    <%= link_to @shop.artist.name, artist_path(@shop.artist) %>
  </span>
  <br /><br />
  <span class="artist-name-main artistmm">
    <%= @shop.artist.name %> <br /><% if @shop.artist.types.blank? %> <% else %>
    <small style="font-size:65%"> <ul class="arttypes"><% @shop.artist.types.order('name ASC').each do |type| %><li><%= type.name %></li><% end %></ul></small><% end %>
  </span> 
  <div class="socart">

  <%= link_to 'Back to Artist Page', artist_path(@shop.artist), :class => 'btn btn-primary sheetbutton' %>
    

  </div> 
    </div>
</div> 
<br />  <br /> 

 


<div class="containernohome"> 
 <div class="col-md-12" style="padding: 0px;">
    <%= flash_messages %> <br />
  </div>
<div class="col-md-3 col-sm-3 artistimageetc">
 
 

    <%= image_tag @shop.artist.photo.url, :class => 'img-responsive ' %>
 

    

    
     

<% if @shop.artist.shopplayer.blank? %>
<% else %>

<h4 style="padding-top: 10px;
    padding-bottom: 0px;text-transform: capitalize;
    font-size: 100%;">Listen:</h4><hr style="margin-top: 0em;">
     
    <%= @shop.artist.shopplayer.html_safe %>

      
     
    <% end %>

 <Br /><Br />
     

    </div> 
  <div class="col-md-9 col-sm-9 newsblur sheetmusicmain">
     

<div class="portfolio-items grid">
  <div class="row" style="margin:0px !important;">
  <% @shop.items.each do |item| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= link_to('#', :class => 'hello') do %>
            <%= image_tag item.image.url, :class => 'img-responsive homepage' %>
          <% end %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <h5><%= item.name %> <br /> <%= number_to_currency(item.price, unit: '£') %></h5>  
            <i class="material-icons right">add  </i>
          </span>
          <p>
          <%= link_to 'Buy now', checkout_path(item), :class => 'readmorehome' %>
             
          </p>
        </div>
        <div class="card-reveal" id="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>
            <h5><%= item.name %></h5>
          </span> 
          <%= sanitize item.description %>
            <br /><br /><div class="clear"></div>
          <p>
          <%= number_to_currency(item.price, unit: '£') %>
          <%= link_to 'Buy now', checkout_path(item), :class => 'readmorehome' %>
            
          </p>


        </div>
      </div>
    </div>  
  <% end %>
  </div>
</div>
<div class="clear"><Br /><Br /></div>
</div>
  
   

      
</div>
</div> 
