  <div class='containernohome'>  
<div class="row"> <P> <b>Welcome Company</b><br /><%= link_to 'Reset', search_path  %> </P>
 

 

<%= form_for :q, url: search_path, method: :get, html: { id: 'search_form' } do |f| %>
 
  <div class="sbox"><%= f.label 'Title', :class => 'hello' %> 
  <%= f.text_field :track_title %> </div><br /><br />
  <%= render(partial: 'checkboxes', locals: { f: f, klass: Production, collection: @productions }) %> 
  <%= render(partial: 'checkboxes', locals: { f: f, klass: Mood, collection: @moods }) %> 
  <%= render(partial: 'checkboxes', locals: { f: f, klass: Instrumentation, collection: @instrumentations }) %> 
  <%= f.submit "Search" %> 
<% end %>
</div> 
<div id="tracks"><table>
<tr>
<td>Catalogue No. </td>
<td> Title</td>
<td>Old Title </td>
<td> Production</td> 
</tr></table><table>
  <% @tracks.each do |track| %>
  <tr>
  <td>
   
      <%= track.catalogue %>
    
    </td>
    <td>
    <p>
      <%= track.title %>
    </p>
    </td>
    <td>
    <p>
      <%= track.oldtitle %>
    </p>
    </td>
    <td>
    <% track.composers.each do |production| %>
    <p>
      <%= production.name %>
    </p>
    </td>
    
  <% end %>
  </tr>
  <% end %></table>
</div>
</div>
</div>
<%= content_for :extra_footer do %>
  <script>

    $(document).ready(function() {
      var lastKeyPress = null;
      $('input:checkbox').change(filterResults);
      $('#q_track_title').keyup(filterResults);
    });

    var target = null;

    function filterResults(e) {
      target = e.target;
      var formValues = $('form').serialize();
      $.get("/search.json", formValues, function(data) {
        updateFilters(data);
        updateChecked(target);
        $tracks = $('#tracks').html('');
        data.tracks.forEach(function(track) {
          productions = track.productions.map(function(production) {
            return '<td>'+production.name+'</td>'
          });
          trackData = [
          
            '<table><tr><td>' + track.catalogue + '</td>',
            '<td>'+track.title+'</td>',
            '<td>' + track.oldtitle + '</td>',
            '<td>' + track.composers + '</td></tr></table>'
          
          ]
          trackView = trackData.concat(productions).join('\n');
          $tracks.append(trackView);
        });
      });
    }

    function updateFilters(data) {
      var filters = ['production', 'mood', 'instrumentation'];
      filters.forEach(function(filter) {
        updateFilter(filter, data[filter+"s"]);
      });
    }

    function updateFilter(type, ids) {
      checkboxes = $('input[name="q['+type+'_ids][]"]')
      checkbox_ids = ids.map(function(e) {
        return "q_"+type+"_ids_"+e.id;
      });
      checkboxes.each(function() {
        var $this = $(this).parent();
        if (checkbox_ids.indexOf(this.id) > -1) {
          $(this).removeAttr("disabled");
          $this.addClass('available');
          $this.removeClass('unavailable');
        } else {
          $(this).attr("disabled", true);
          $this.addClass('unavailable');
          $this.removeClass('available');
        }
      });
    }

    function updateChecked(e) {
      $e = $(e);
      if ($e.is('input[type="checkbox"')) {
        var c = $e.prop('checked') ? '#424632' : '#767c60';      
        var label = $e.parent();
        label.css('background-color', c);
      }
    }


  </script>
<% end %>
</div>