<%= simple_form_for([:admin, @article], html: {multipart: true}) do |f| %>
  <%= f.input :title %>
  <%= f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
  <%= f.input :youtube, hint: 'Video: please use the video url. Youtube only'  %>
  <%= f.association :artists, collection: Artist.order('name ASC') %>
  <%= f.file_field :image %><br /> 
    <% if f.object.persisted? && f.object.image.present? %>
    <%= image_tag f.object.image, class: 'persisted-image-preview' %>
  <% end %>
  <img src="" class="image-preview" /><Br /><Br />
    <div class='input-group date' id='datetimepicker1'>
      <%= f.input :scheduled_at, as: :string %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
  <% if @article.persisted? %>
    <%= link_to 'Publish', publish_admin_article_path(@article), method: :put, class: 'btn' %>
    <% end %>
  
<% end %> 

<%= content_for :extra_footer do %>
<script>
$(document).ready(function(){
  $('input[type="file"]').change(readURL);
   $('#datetimepicker1').datetimepicker();
});

function readURL(e) {
  var input = e.target;
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('.image-preview')
        .attr('src', e.target.result)
        .width(150)
        .height(200);
      $('.persisted-image-preview').hide();
    };
    reader.readAsDataURL(input.files[0]);
  }
}


</script>
<% end %>
  

