<%= simple_form_for([:admin, @article], html: {multipart: true}) do |f| %>
  <%= f.input :title %>
  <%= f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
  <%= f.input :youtube, hint: 'Video: please use the video url. Youtube only'  %>
  <%= f.association :artists, collection: Artist.order('name ASC') %><br />  
  <%= f.input :created_at, as: :date, html5: true, class: 'btn btn-primary', label: 'Created at' %> <br /><br />
  
  <%= f.file_field :image %><br /> 
    <% if f.object.persisted? && f.object.image.present? %>
    <%= image_tag f.object.image, class: 'persisted-image-preview' %>
  <% end %>
  <img src="" class="image-preview" /><Br /><Br />
    <div class='input-group date' id='datetimepicker1'>
      <%= f.input :scheduled_at, as: :string %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
  </div><br /><br />
  <%= f.submit 'Publish', name: "article[status]", class: 'btn btn-primary' %>
  <%= f.submit 'Save/Schedule', class: 'btn btn-primary' %>
<% end %> 

<%= content_for :extra_footer do %>
<script>
$(document).ready(function(){
  $('input[type="file"]').change(readURL);
   $('#datetimepicker1').datetimepicker();
});

function readURL(e) {
  var input = e.target;
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('.image-preview')
        .attr('src', e.target.result)
        .width(150)
        .height(200);
      $('.persisted-image-preview').hide();
    };
    reader.readAsDataURL(input.files[0]);
  }
}


</script>

<% end %> 
<style>
#datetimepicker1{
width: 200px;
padding:0px;
    line-height: 28px;
    font-size: 12px;
    letter-spacing: 3px;
    display: inline-block;
    text-transform: uppercase;
    border:0px;
  }

.date, .main-title {
    width: auto;
    padding: 0 0px;
    line-height: auto;
    font-size: auto;
    letter-spacing: auto;
    display: inline-block;
    text-transform: capitalize;
    border: solid 0px #848f81;
}
</style>
