<%= render 'shared/adminnav' %>
<div class="col-md-9">
<h4> List Of Production Tags</h4><%= link_to "+ New", new_admin_production_path, class: "btn btn-primary"  %>
<br /><br />
<% @productions.each do |production| %>
   <div class="col-md-3" style="padding-left:0px; padding-top:10px;">
   <%= link_to production.name, admin_production_path(production) %> <br />
   <%= link_to 'Delete', admin_production_path(production), method: :delete, class: "btn btn-primary"  %>
   </div> 
<% end %>
 
</div>
<%= render 'shared/adminnavfooter' %>