<% content_for :title, "| Videos" %>
<div class="main-page-header">
  <div class="m-p-h">
    <%= link_to 'Home', root_path %>  
    <span class="break">></span> 
    <%= link_to 'Videos', videos_path %> 
    <br /><br />
    <span class="artist-name-main">
    Videos
    </span>
    <br /><br />
  </div>
</div> 
<br /><br />
<div class="containernohome">  
<div class="col-md-12"> 
    
      <%= search_form_for @q, url: url_for(videos_path) do |f| %>
     <div class="artists">
     <ul class="grid-items"> 
      <li class="col-md-3 col-xs-6 col-sm-3">
        <%= f.search_field :title_cont, class: 'form-control custom', placeholder: 'Search...' %>
      </li>

      <li class="col-md-3 col-xs-6 col-sm-3">
        <%= f.collection_select :artists_id_eq, Artist.used.order('name asc'), :id, :name, {include_blank: 'Artist'}, class: 'form-control custom' %>
      </li>

      <li class="col-md-6 col-xs-12 col-sm-6">
      <%= f.submit 'Search', class: 'btn btn-primary release-searching' %>
      </li>
 
</ul></div><br /><br /><br /><br />
      <% end %>
    </div>

<div class="col-md-12 nopadleft nopadright">
<% if @videos.empty? %>
    <h1><center><br /><br />We currently have no videos matching your search criteria<br /><br />Please try again<br /><br /><br /><br /></center></h1>
    <% else %>
    <% @videos.each do |video| %>
    <%= link_to(video_path(video)) do %>
      <div class="col-md-3 col-sm-3 videobox nopadleft" style="padding-bottom:20px;"> 
      <%= image_tag video.image.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi' %> 
      <span></span> <p><%= video.preview %></p> 
       </div>
<% end %>
      <% end %> <% end %>
</div>
<div class="clear"></div>

    <div class="col-md-11"> 
    <div class="middle">
      <%= will_paginate @videos, :page_links => true, :previous_label => '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>', :next_label => '<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>' %> <br /><br />
      </div>
    </div>
</div>
</div>
<div class="clear"></div>
  





 
