  <div class='container'> 
 <div class="col-md-3" style="height:700px;">
 <h2> Admin Panel</h2>
  <div class="nav">
<%= link_to 'Dashboard', admin_path, class: "btn btn-success btn-lg btn-block" %>
 <%= link_to 'About', admin_abouts_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'News', admin_articles_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Artists', admin_artists_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Releases', admin_releases_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Awards', admin_awards_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Press', admin_presses_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Users', admin_users_path, class: "btn btn-success btn-lg btn-block"  %>
<hr>
<%= link_to 'Genres', admin_genres_path, class: "btn btn-success btn-lg btn-block" %>
<%= link_to 'Types', admin_types_path, class: "btn btn-success btn-lg btn-block" %>
<%= link_to 'Productions', admin_productions_path, class: "btn btn-success btn-lg btn-block" %>
<br /><br />
</div>
</div> 