  <div class='containernohome moveit'> 
 <div class="col-md-3" style="">
 <h4> Admin Panel</h4>
  <div class="nav">
<%= link_to 'Dashboard', admin_path, class: "btn btn-success btn-lg btn-block" %>
 <%= link_to 'About', admin_abouts_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'News', admin_articles_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Artists', admin_artists_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Releases', admin_releases_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Videos', admin_videos_path, class: "btn btn-success btn-lg btn-block" %>
<%= link_to 'Awards', admin_awards_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Press', admin_presses_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Users', admin_users_path, class: "btn btn-success btn-lg btn-block"  %>
<%= link_to 'Audio', admin_audios_path, class: "btn btn-success btn-lg btn-block" %> 
<hr>
 <h4> Artist/Release Tags</h4>
<%= link_to 'Genres', admin_genres_path, class: "btn btn-success btn-lg btn-block" %>
<%= link_to 'Types', admin_types_path, class: "btn btn-success btn-lg btn-block" %>
<%= link_to 'Format', admin_formats_path, class: "btn btn-success btn-lg btn-block" %>
<hr>
 <h4> Production Tracks</h4>
 <%= link_to 'Tracks', admin_tracks_path, class: "btn btn-success btn-lg btn-block" %>
  <%= link_to 'Styles', admin_styles_path, class: "btn btn-success btn-lg btn-block" %>
  <%= link_to 'Instrumentations', admin_instrumentations_path, class: "btn btn-success btn-lg btn-block" %>
  <%= link_to 'Moods', admin_moods_path, class: "btn btn-success btn-lg btn-block" %>
  <%= link_to 'Productions', admin_productions_path, class: "btn btn-success btn-lg btn-block" %>
  <hr>
 <h4> Private Pages</h4>
<%= link_to 'Production Companies', admin_b_di_productions_path, class: "btn btn-success btn-lg btn-block" %> 
<hr>
<br /><br />
<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-success btn-lg btn-block" %>

</div>
</div> 