<nav class="navbar navbar-default navbar-static-top">
  <div class="container">

     <ul class="nav navbar-nav navbar-right">
       <li><img width="30px" style="margin:0.5em;"  src="http://www.bucksmusicgroup.com/wp-content/uploads/2015/03/bdface.png"></li>
        <li><img width="30px"   style="margin:0.5em;" src="http://www.bucksmusicgroup.com/wp-content/uploads/2015/03/bdtwit.png"></li>
         <li><img width="30px"    style="margin:0.5em;"src="http://www.bucksmusicgroup.com/wp-content/uploads/2015/03/move.png"></li>
 
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default search">Submit</button>
      </form>
      </ul> 
       <ul class="nav navbar-nav navbar-left" style=" padding-left:15px;color: white !important">
       
            <li class="<%= 'active' if current_page?(root_path) %>">
              <%= link_to 'Home', root_path %>
            </li>
          <li class="<%= 'active' if current_page?(abouts_path) %>">
              <%= link_to 'About', abouts_path  %> 

            </li>
           <li class="<%= 'active' if current_page?(articles_path) %>">
              <%= link_to 'News', articles_path  %>  

            </li>
           <li class="<%= 'active' if current_page?(artists_path) %>">
            <%= link_to 'Artists', artists_path  %> 

            </li>
            <li class="<%= 'active' if current_page?(releases_path) %>">
           <%= link_to 'Releases', releases_path  %> 

            </li>
            <li class="<%= 'active' if current_page?(awards_path) %>">
            <%= link_to 'Awards', awards_path %> 

            </li>
            <li class="<%= 'active' if current_page?(presses_path) %>">
            <%= link_to 'Press', presses_path  %>

            </li> <li class="<%= 'active' if current_page?(contact_index_path) %>">
             <%= link_to 'Contact', contact_index_path %>


            </li>
          </ul>
  </div>
</nav>

<nav class="navbar navbar-default bottnav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/02/BDI-logo.jpeg", :class => "mainlogo"), root_path %></a>
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <br />   <br /> 
      <ul class="nav navbar-nav navbar-right">
       
           <div class="sectone " style="">
           <h3>Welcome To The BDi Music Ltd Website</h3>
           </div><br /><br /><br />  
           <div class="secttwo ">
           <h3>International Music Publisher </h3>
           </div>
          </ul> 
          </div>
  
     
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<style> 
.hidden {display:none;} 
</style>