
<nav class="navbar navbar-default navbar-fixed-top normal">
  <div id="one">
    <div class="topheader">
    <div class="row homerow"> 
    <div style="float:left" class="loginsection"> 
        <ul class="loginetc">
          
          <% if current_user %>
          <li>
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete, :class => 'btn-flat' %>
            </li><% if current_user.admin? %>
          <li>
            <%= link_to 'Admin', admin_path, :class => 'btn-flat' %>
          </li><% end %>
          <% else %>
          <li>
            <%= link_to 'Login', new_user_session_path, :class => 'btn-flat ' %>
          </li> 
          <% end %>
          <li>
            
            <%= mail_to "info@bdimusic.com", "Support", cc: "csly-platz@bucksmusicgroup.co.uk",
         subject: "Contact from BDiMusic.com", :class => 'btn-flat' %>


          </li>
        </ul> 
    </div>
     
    <div style="float:right">
     <section>
      <ul class="social-buttons">
        <li class="social">
          <a href="https://www.facebook.com/BDiMusicUK/" target="_blank">
          <img src="/uploads/ckeditor/pictures/4/content_facebooknav.png" width="30px" height="30px">
          </a>
        </li>
        <li class="social">
          <a href="https://twitter.com/bdimusic" target="_blank">
          <img src="/uploads/ckeditor/pictures/6/content_twitternav.png" width="30px" height="30px">
          </a>
        </li>
        <li class="social">
         <img src="/uploads/ckeditor/pictures/5/content_themovementnav.png" width="30px" height="30px">
        </li>
        
      </ul>
    </section>
    </div>
    </div> 
   </div>
   </div><div class="containernohome navtest">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<%= link_to root_url, :class => 'navbar-brand' do %>
<%= image_tag("http://www.remarquablerecords.com/bdilogo.png",  :class => "navbar-bra") %>
<% end %>

 
    </div>



        

      <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul> 
        <ul class="nav pull-right navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %> cl-effect-17 main">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="<%= 'active' if current_page?(abouts_path) %> main">
            <%= link_to 'About', abouts_path  %> 
          </li>
          <li class="<%= 'active' if current_page?(articles_path) %> main">
            <%= link_to 'News', articles_path  %>  
          </li>
          <li class="dropdown main">

          <%= link_to(raw("Roster" +("<span class= 'caret'></span>")), artists_path, { :class => 'dropdown-toggle disabled', 'data-toggle' => 'dropdown', 'role' => 'button', 'aria-expanded' => 'true' }) %>
 
              <ul class="dropdown-menu" role="menu">
                <li>
                <%= link_to 'Artists', roster_index_path  %> 
                </li>
                <li class="divider"></li>
                <li><%= link_to 'Composers', composers_path %></li>
                <li class="divider"></li>
                 <li><%= link_to 'Producers', producers_path %></li>
                <li class="divider"></li>
                 <li><%= link_to 'Songwriters', songwriters_path %></li>
              </ul>
          </li>
          <li class="<%= 'active' if current_page?(releases_path) %> main">
           <%= link_to 'Releases', releases_path  %> 
          </li>
          <li class="<%= 'active' if current_page?(awards_path) %> main">
            <%= link_to 'Awards', awards_path %> 
          </li>
          <li class="<%= 'active' if current_page?(presses_path) %> main">
            <%= link_to 'Press', presses_path  %>
          </li> 
          <li class="<%= 'active' if current_page?(contact_index_path) %> main last">
            <%= link_to 'Contact', contact_index_path %>
          </li> 
        </ul> 
      </div>    
    </div>
</nav>  
<div class="clear"></div>
 


    

    <style> 

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

 
</style>



<script  type='text/javascript'>
$(document).ready(function(){
    $(".navbar-bra").hover(
        function() {$(this).attr("src","http://www.bucksmusicgroup.com/wp-content/uploads/2015/11/bdiblinkingtest.gif");},
        function() {$(this).attr("src","http://www.remarquablerecords.com/bdilogo.png");
    });
});
</script>

  

 