<%= render 'shared/adminnav' %>
<div class="col-md-9">
<h4> List Of Genre Tags</h4><%= link_to "+ New", new_admin_genre_path, class: "btn btn-primary"  %>
 <br /><br />
<% @genres.each do |genre| %>
   <div class="col-md-2" style="padding-left:0px; padding-top:10px;">
   <%= link_to genre.name, admin_genre_path(genre) %> <br />
   <%= link_to 'Delete', admin_genre_path(genre), method: :delete, class: "btn btn-primary"  %>
   </div> 
<% end %>
 
</div>




</div>
<%= render 'shared/adminnavfooter' %>