<%= render 'shared/adminnav' %> 
<div class="col-md-9">
<h4> Dashboard Quick Links</h4>
 <br />

<div class="related">Latest News Posts (showing latest 3 of <%= @articles.count %>)</div> <br />


<table class="admin-table">
  <tbody> 
 <th class="a-one"><p>ID</p></th>
  <th class="a-one"><p>Image</p></th>
  <th class="a-two"><p>Title</p></th> 
  <th class="a-two"><p>Created At</p></th> 
  <th class="a-four"><p>Links</p></th>
  </tbody>
<% @articles.each do |article| %>
  <tr> 
  <td class="a-one"><p><%= article.id %></p></td>
  <td class="a-one"> <%= image_tag article.image.thumbnail.url, :class =>  "imagethumb admin-artist" %></td>
  
  <td class="a-two"><p><%= link_to article.title, article_path(article) %></p></td> 
  <td class="a-two"><p><%= article.created_at.strftime('%d/%m/%Y at %H:%m%p') %></p>
  <p><%= article.created_at.strftime(' ') %></p>
  </td> 
  <td class="a-four"> <%= link_to "Edit", edit_admin_article_path(article), :class =>  "btn btn-primary", :method => :get  %> 
   <%= link_to 'Delete', admin_article_path(article), method: :delete, class: "btn btn-primary"  %></td>

  </tr>

<% end %>
</table>


 
 <br /> <br />
<div class="related">Latest Artists Added (showing latest 3 of <%= @artists.count %>)</div> <br />
<table class="admin-table">
  <tbody> 
 <th class="a-one"><p>ID</p></th>
  <th class="a-one"><p>Image</p></th>
  <th class="a-two"><p>Name</p></th> 

  <th class="a-two"><p>Created At</p></th> 
  <th class="a-four"><p>Links</p></th>
  </tbody>
<% @artists.each do |artist| %>
  <tr> 
  <td class="a-one"><p><%= artist.id %></p></td>
  <td class="a-one"> <%= image_tag artist.photo.thumbnail.url, :class =>  "imagethumb admin-artist" %></td>
  
  <td class="a-two"><p><%= link_to artist.name, artist_path(artist) %></p></td> 
  
  <td class="a-two"><p><%= artist.created_at.strftime('%d/%m/%Y at %H:%m%p') %></p>
   
  </td> 
  <td class="a-four"> <%= link_to "Edit", edit_admin_artist_path(artist), :class =>  "btn btn-primary", :method => :get  %> 
   <%= link_to 'Delete', admin_artist_path(artist), method: :delete, class: "btn btn-primary"  %></td>

  </tr>

<% end %>
</table>
 <br /> <br />

<div class="related">Latest Releases Added (showing latest 3 of <%= @releases.count %>)</div> <br />
 


<table class="admin-table">
  <tbody> 
 <th class="a-one"><p>ID</p></th>
  <th class="a-one"><p>Image</p></th>
  <th class="a-two"><p>Title</p></th> 

  <th class="a-two"><p>Created At</p></th> 
  <th class="a-four"><p>Links</p></th>
  </tbody>
<% @releases.each do |release| %>
  <tr> 
  <td class="a-one"><p><%= release.id %></p></td>
  <td class="a-one"> <%= image_tag release.image.thumbnail.url, :class =>  "imagethumb admin-artist" %></td>
  
  <td class="a-two"><p><%= link_to release.title, release_path(release) %></p></td> 
  
  <td class="a-two"><p><%= release.created_at.strftime('%d/%m/%Y at %H:%m%p') %></p>
   
  </td> 
  <td class="a-four"> <%= link_to "Edit", edit_admin_release_path(release), :class =>  "btn btn-primary", :method => :get  %> 
   <%= link_to 'Delete', admin_release_path(release), method: :delete, class: "btn btn-primary"  %></td>

  </tr>

<% end %>
</table>



 <br /> <br />

<div class="related">Latest Awards Added (showing latest 3 of <%= @awards.count %>)</div> <br />
 

<table class="admin-table">
  <tbody> 
 <th class="a-one"><p>ID</p></th>
  <th class="a-one"><p>Image</p></th>
  <th class="a-two"><p>Title</p></th> 

  <th class="a-two"><p>Created At</p></th> 
  <th class="a-four"><p>Links</p></th>
  </tbody>
<% @awards.each do |award| %>
  <tr> 
  <td class="a-one"><p><%= award.id %></p></td>
  <td class="a-one"> <%= image_tag award.image.thumbnail.url, :class =>  "imagethumb admin-artist" %></td>
  
  <td class="a-two"><p><%= link_to award.title, award_path(award) %></p></td> 
  
  <td class="a-two"><p><%= award.created_at.strftime('%d/%m/%Y at %H:%m%p') %></p>
   
  </td> 
  <td class="a-four"> <%= link_to "Edit", edit_admin_award_path(award), :class =>  "btn btn-primary", :method => :get  %> 
   <%= link_to 'Delete', admin_award_path(award), method: :delete, class: "btn btn-primary"  %></td>

  </tr>

<% end %>
</table>
 <br /> <br />

<div class="related">Latest Press Added (showing latest 3 of <%= @presses.count %>)</div> <br />
 


<table class="admin-table">
  <tbody> 
 <th class="a-one"><p>ID</p></th>
  <th class="a-one"><p>Image</p></th>
  <th class="a-two"><p>Title</p></th> 

  <th class="a-two"><p>Created At</p></th> 
  <th class="a-four"><p>Links</p></th>
  </tbody>
<% @presses.each do |press| %>
  <tr> 
  <td class="a-one"><p><%= press.id %></p></td>
  <td class="a-one"> <%= image_tag press.image.thumbnail.url, :class =>  "imagethumb admin-artist" %></td>
  
  <td class="a-two"><p><%= link_to press.title, press_path(press) %></p></td> 
  
  <td class="a-two"><p><%= press.created_at.strftime('%d/%m/%Y at %H:%m%p') %></p>
   
  </td> 
  <td class="a-four"> <%= link_to "Edit", edit_admin_press_path(press), :class =>  "btn btn-primary", :method => :get  %> 
   <%= link_to 'Delete', admin_press_path(press), method: :delete, class: "btn btn-primary"  %></td>

  </tr>

<% end %>
</table>

</div></div>
<div class="clear"></div>

 