<%= render 'shared/adminnav' %>
<div class="col-md-9">
<h4> List Of Staff</h4><%= link_to "+ New", new_admin_staff_path, class: "btn btn-primary"  %>
<table>
  <tr>
  <th class="id">ID</th>
  <th class="title">Name</th>
  <th class="body">Biog</th>
  <th class="created"> Created at</th>
  <th class="updated">Updated at</th>
  <th class="image">Image</th>
  <th class="edit"></th>
  </tr>
<% @staffs.each do |staff| %>
  <tr>
  <td class="id"><%= staff.id %></td>
  <td class="title">  <%= link_to staff.name, admin_staff_path(staff) %></td>
  <td class="body"><%= staff.biog %></td>
  <td class="created"> <%= staff.created_at.strftime('%d-%m-%Y') %></td>
  <td class="updated"><%= staff.updated_at.strftime('%d-%m-%Y') %></td>
  <td class="image"> <%= image_tag staff.photo.url, :class =>  "imagethumb" %></td>
  <td class="edit"> <%= link_to "Edit", edit_admin_staff_path(staff), :class =>  "btn btn-primary", :method => :get  %> 
   <%= link_to 'Delete', admin_staff_path(staff), method: :delete, class: "btn btn-primary"  %></td>

  </tr>

<% end %>
</table>
<br />
<%= link_to 'Back To About', admin_abouts_path, class: "btn btn-success "  %>
</div>



</div>