<% content_for :title, "| Awards" %>
<div class="main-page-header">
  <div class="m-p-h"> 
    <%= link_to 'Home', root_path %>  
    <span class="break">
      >
    </span>  
    <%= link_to  'Awards', @page_title %>   
    <br /><br /> 
    <span class="artist-name-main">
      Awards
    </span> 
    <br /><br />
  </div>
</div> 
<br /> 
<div class="containernohome">

  <div class="col-md-9" style="padding: 0px;">
  <%= flash_messages %> <br />
  </div>
  <div class="clear"></div>
  <div class="col-md-9 col-sm-12 col-xs-12 articlesindex"> 



  <div id="custom-search-input" style="width:92%">
      <div class="input-group col-md-12">
        <%= simple_form_for :award, url: url_for(awards_path), method: 'get' do |f| %>
           <%= f.input :query, input_html: {name: 'q', id: 'search', class: 'search-query form-control'}, label: false, placeholder: 'Search...', required: false %>
           
        <% end %>
                    
        </div>
   </div><br /><br />
   <% @awards.each do |award| %>
  <div class="col-md-11 col-sm-12 col-xs-12">
    <div class="col-md-4 col-xs-12 col-sm-6 new-image">
      <%= image_tag award.image.articlehome.url, :style => 'width:100%; height:100%;', :class => 'img-responsive' %> 
    </div>
    <div class="col-md-7 col-xs-12 col-sm-6 outer"> 
      <div class="inner">
      <h3 class="arttit lowercase">
        <%= link_to award.title, award_path(award) %> 
        <br /><br />
        <small><%= award.created_at.strftime('%-d %B %Y ') %></small>
      </h3>
      <p><%= sanitize award.newspreview, tags: %w(), attributes: %w(href)  %></p>
         
        <br /><br />
        </div> 
        <p class="readmoreart" style="margin-top: -2px;"><a href="<%= award_path(award) %>" class="readmorenohome">Read More</a></p>
    </div>
    <div class="clear"></div>
     <hr><br />
  </div>
<% end %>

    <div class="clear"></div>

    <div class="col-md-9"> 
    <div class="middle">
      <%= will_paginate @awards, :page_links => true, :previous_label => '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>', :next_label => '<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>' %> <br /><br />
      </div>
    </div>
</div>

<div class="col-md-3 homesidebar">  
   
 <%= render 'shared/twittersidebar' %>
   </div>
</div>
 
 <style>
 div.outer {
    margin-bottom: 32px;
    display: inline-block;
    vertical-align: top;
} 
@media (max-width: 400px) {
  div.outer {
      display: block;
  }
}
</style>
<script>
var inners = document.getElementsByClassName("inner");
var maxHeight = 0;
for (var i = 0; i < inners.length; i++) {
    if (inners[i].offsetHeight > maxHeight)
        maxHeight = inners[i].offsetHeight;
}
for (var i = 0; i < inners.length; i++)
    inners[i].style.height = maxHeight + 'px';

</script>
    
  