<h1><%= @track.title %></h1>  
    <%= @track.origin %><br />
    <%= @track.oldtitle %><br />
    <%= @track.track_composer %><br />
    <%= @track.catalogue %><br />
    <br />

  
  
<%= link_to "Back To About", admin_tracks_path, :class =>  "btn-primary", :method => :get  %> 
<%= link_to "Edit", edit_admin_track_path, :class =>  "btn-primary", :method => :get  %> 


</div>

<%= render 'shared/adminnavfooter' %>