
<%= render 'shared/adminnav' %>
<div class="col-md-9">
<h4> List Of Shops</h4> 
 



<table class="admin-table-news">
  <tbody> 
 <th class="a-one"><p>ID</p></th>
  <th class="a-one"><p>Image</p></th>
  <th class="a-two"><p>Title</p></th> 

  <th class="a-three"><p>Created At</p></th> 
  <th class="a-four"><p>Links</p></th>
  </tbody>
 <% @artist_shops.each do |artist_shop| %>
  <tr> 
  <td class="a-one"><p><%= artist_shop.artist.id %> </p></td>
  <td class="a-one"> </td>
  <td class='a-two'><%= artist_shop.artist.name %></td>
  <td class='a-three'><%= artist_shop.artist.created_at.strftime('%d/%m/%Y at %H:%m%p')  %> </td>
 
  <td class="a-four"> <%= link_to "Edit", edit_admin_artist_shop_path(artist_shop), :class =>  "btn btn-primary", :method => :get  %> <%= link_to 'Delete', admin_artist_shop_path(artist_shop), method: :delete, class: "btn btn-primary"  %> </td>

  </tr>

<% end %>
</table><br /><br />
<div class="col-md-10"> 
    <div class="middle">
      
      </div>
    </div>
</div>
</div> 

<%= render 'shared/adminnavfooter' %>


