<% content_for :title, "| About" %>

<div class="main-page-header">
  <div class="m-p-h"> 
    <%= link_to 'Home', root_path %>  <span class="break">></span>  
    <%= link_to  'About', @page_title %>   
    <br /><br /> 
      <span class="artist-name-main">About</span> 
    <br /><br />
  </div>
</div> 
 

<div class="main-page-header" style="background-color:#848f81;">
  <div class="m-p-h"> 
    <% @abouts.each do |about| %>
<br />

<center>
<h2 class="ab">About BDi Music</h2>
     <p class="aboutbdi"><%= about.body.html_safe %></p><br /><br /> 
  </center>

     

  <% end %>

  </div>
</div> 
  <br />  <br />  
<div class="containernohome aboutbdi">


</div>
<div class="containernohome">
  <div class="col-md-8 col-md-offset-2 col-xs-12" style="">
  <h2 class="wwa">Who We Are</h2><br />
  <div class="cent">
   <% @staffs.each do |staff| %>
      <div class="col-md-4 col-xs-12 col-sm-4">
        <div class="col-md-12 col-xs-12 new-image">
         
           <%= image_tag staff.photo.articlehome.url, :style => 'width:100%; height:100%;', :class => 'img-responsive' %> <br />
        </div>
         <div class="col-md-12">
           <h3 class="arttit">
            <%=  staff.name %><small><br /><br /><%= staff.role %><br />E: <%= staff.email %> <br /> T: <%= staff.phone %></small>
           </h3>
           <div class="artp about">
             <div class="comment more"> 
        <%= staff.biog.html_safe %> 
</div> 
            <br /><br /> 
           </div>
          </div>
        <div class="clear"></div> 
      </div>
    
    <% end %>
      </div>



    
</div>
 

</div>
    <div class="clear"></div>
    <style> 
      
h3.arttit {text-align:center;}
h3.arttit small {text-transform: none}

    h2.wwa {text-transform:uppercase; text-align:center; }
    .aboutbdi { background-color:#848f81; color:white !important;}
    p.aboutbdi {text-align:center; width:80%;  }
    p.aboutbdi a{color:white !important;}
    h2.ab {text-transform:uppercase;color:white !important; }
    .col-md-12 {padding:0px;}
    .about {text-align:justify;}
    hr { display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cecece;
    margin: 1em 0;
    padding: 0; }
    .col-md-4 {padding-right:40px; padding-left:0px;}

 
.morecontent span {
    display: none;
} 
    </style>
  <script>
 



  $(document).ready(function() {
    var showChar = 300;
    var ellipsestext = "...";
    var moretext = "Show More";
    var lesstext = "Show Less";
    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar-1, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});
  </script>
 