<div class="main-page-header">
<div class="m-p-h">
<%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'About', abouts_path %>  
</span>
<br /> <br /> 
<span class="artist-name-main">
About
</span> <br /> <br /> </div>
</div> 
  <br />  <br /> 

 <div class='containernohome'> 

<% @abouts.each do |about| %>
 <div class="col-md-12">
     <p><%= about.body.html_safe %></p><br /> 
  </div>
  <% end %>
<div class="portfolio-items grid">
  <ul id="grid-items" class="cs-style-3" id="gallery">
   <% @staffs.each do |staff| %>
        <li class="col-md-4" >
           
<figure >

 

 
<%= image_tag staff.image.artistmain.url, :style => 'width:90%; margin:auto auto; padding-top:20px;', :class => 'img-responsive homeimage' %>
 
 
 
<figcaption>

  <h3 class="staff-info"><%= staff.name %> </h3>   
    <h4 class="staff-info"><%= staff.role %></h4>    <hr> 
    <h5 class="staff-info">E: <%= staff.email %></h5>     
    <h5 class="staff-info">T: <%= staff.phone %></h5>
  
     <hr>
      <p style="text-align:justify"> <%= staff.biog.html_safe %></p>

 <br />
 
</figcaption>
</figure>

</a>
  </li>
  <% end %> 
    </ul> 
   
    </div> 
<div class="clear"></div>
 
 </div> 

<style>
.col-md-12 {padding:0px;}
.col-md-4 {padding-left:0px;}
</style>
