<%= render 'shared/adminnav' %>
<div class="col-md-9">
<h4> About</h4>
<table class="admin-table-about">
  <tr>
  <th class="a-one"><p>ID</p></th> 
  <th class="a-full"><p>Body</p></th> 
  <th class="a-two"><p>Links</p></th>
  </tr>
<% @abouts.each do |about| %>
  <tr>
  <td class="a-one"><p><%= about.id %></p></td> 
  <td class="a-full"><p><%= about.body.html_safe %></p></td>  
  <td class="a-two"> <%= link_to "Edit", edit_admin_about_path(about), :class =>  "btn btn-primary", :method => :get  %>  

  </tr>

<% end %>
</table>
 <br />
<h4> List Of Staff</h4><%= link_to "+ New", new_admin_staff_path, class: "btn btn-primary"  %>
 



<table class="admin-table">
  <tbody> 
 <th class="a-one"><p>ID</p></th>
  <th class="a-one"><p>Image</p></th>
  <th class="a-two"><p>Name</p></th> 

  <th class="a-two"><p>Created At</p></th> 
  <th class="a-four"><p>Links</p></th>
  </tbody>
<% @staffs.each do |staff| %>
  <tr> 
  <td class="a-one"><p><%= staff.id %></p></td>
  <td class="a-one"> 


    <% if staff.photo.blank? %>
  <% else %>
  <%= image_tag staff.photo.thumbnail.url, :class =>  "imagethumb admin-artist"  %>
  <% end %></td>
 
  
  <td class="a-two"><p><%= link_to staff.name, admin_staff_path(staff) %></p></td> 
  
  <td class="a-two"><p><%= staff.created_at.strftime('%d/%m/%Y at %H:%m%p') %></p>
   
  </td> 
  <td class="a-four"> <%= link_to "Edit", edit_admin_staff_path(staff), :class =>  "btn btn-primary", :method => :get  %> 
   <%= link_to 'Delete', admin_staff_path(staff), method: :delete, class: "btn btn-primary"  %></td>

  </tr>

<% end %>
</table>

</div>
 
<%= render 'shared/adminnavfooter' %>

<style>
table.about {
width:100%;
th.id {width:10%;}
th.relbody {width:50%;}
th.edit {width:40%;}
td.id {width:10%;}
td.body {width:50%;}
td.edit {width:40%;}
}
</style> 




