<%= render 'shared/adminnav' %>
<div class="col-md-9">
<h4> List Of Instrumentation Tags</h4><%= link_to "+ New", new_admin_instrumentation_path, class: "btn btn-primary"  %>
<br /><br />
<% @instrumentations.each do |instrumentation| %>
   <div class="col-md-3" style="padding-left:0px; padding-top:10px;">
   <%= link_to instrumentation.name, admin_instrumentation_path(instrumentation) %> <br />
   <%= link_to 'Delete', admin_instrumentation_path(instrumentation), method: :delete, class: "btn btn-primary"  %>
   </div> 
<% end %>
 
</div>
<%= render 'shared/adminnavfooter' %>