<%= render 'shared/adminnav' %>
<div class="col-md-9">
<h4> List Of Users</h4><%= link_to "+ New", new_admin_user_path, class: "btn btn-primary"  %>
 


<table class="admin-table-news">
  <tbody> 
 <th class="a-one"><p>ID</p></th>
  <th class="a-one"><p>Count</p></th>
  <th class="a-two"><p>Email</p></th> 

  <th class="a-three"><p>Last Signed In At</p></th> 
  <th class="a-four"><p>Links</p></th>
  </tbody>
<% @users.each do |user| %>
  <tr> 
  <td class="a-one"><p><%= user.id %></p></td>
  <td class="a-one"> <%= user.sign_in_count %></td>
  
  <td class="a-two" style="padding-right:10px;"><p><%= user.email %></p></td> 
  
  <td class="a-threes"><p><%= user.last_sign_in_at %></p>
   
  </td> 
  <td class="a-four"> <%= link_to "Edit", edit_admin_user_path(user), :class =>  "btn btn-primary", :method => :get  %> 
   <%= link_to 'Delete', admin_user_path(user), method: :delete, class: "btn btn-primary"  %></td>

  </tr>

<% end %>
</table><br /><br />
<div class="col-md-10"> 
    <div class="middle">
      <%= will_paginate @users, :page_links => true, :previous_label => '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>', :next_label => '<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>' %>
      </div>
    </div>
</div>
</div> 


<%= render 'shared/adminnavfooter' %>