  <br />  <br />  <div class='container-eight'> 
  <div class="page-title">
<h2>Releases</h2>
</div> <br />  <br /> 
  <div class="news"> <br />
<%= simple_form_for :release, url: url_for(releases_path),  
     method: 'get' do |f| %>

<table class="tablesearch">

<tr>
<td>
  <%= f.input :query, input_html: {name: 'q', class: 'special'}, label: "Keywords", placeholder: 'Search...', required: false %>
  </td>
  <td>
  <%= f.input :genre, input_html: {name: 'genre'},  collection: Genre.order('name ASC').used, include_blank: 'All', required: false %> 
  </td>
<td>
  <%= f.input :artist, input_html: {name: 'artist'},  collection: Artist.order('name ASC').used, include_blank: 'All', required: false %> 
  </td>
  <td>
  <%= f.input :production, input_html: {name: 'production'},  collection: Production.order('name ASC').used, include_blank: 'All', required: false %> 
  </td>
  <td class="last">
  <%= f.submit 'Search', class: 'btn btn-primary searcharticles' %>

  </td></tr></table>
<% end %><hr>

   
<% @releases.each do |release| %>
<div class="container">
<div class="news-list">
<div class="col-md-3 icon-container" > 
  
  <%= image_tag release.photo.url, :style => 'width:100%; height:100%;', :class => 'img-responsive newsimage' %> 

</div>
<div class="col-md-9">
<h3 style="margin-top:0px;"><%= release.title %>
  
<% if release.itunes.blank? %>
<% else %> 
 <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/03/itunes.png", :class => "twittereal", :style => "width:6%; float:right; margin-left:10px;"),  release.itunes, target: "_blank" %> <% end %>
 <% if release.amazon.blank? %>
<% else %> 
 <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/03/amazon.png", :class => "twittereal", :style => "width:6%; float:right"),  release.amazon, target: "_blank" %> <% end %>
</h3> 

 
<p><%= release.newspreview %></p> 
<p><b>Release Date:</b><%= release.date.strftime('%-d %B %Y ') %></p> 
<p><%= release.links.html_safe %></p><p><b>Genres:</b> <%= release.genres.pluck(:name).map{|n| n.split(' ').map!(&:capitalize).join(' ')}.join(', ') %></p>

<p><b>Related Artists:</b>
<% release.artists.each do |artist| %>
 <div class="col-md-2" style="padding:0px; margin-right:10px;">


 
 <%= link_to (image_tag artist.photo.url, :style => 'width:100px; height:100px;', :class => 'img-responsive releaseartist'), artist_path(artist) %>

    <%= link_to artist.name, artist_path(artist) %>
    </div>
    <% end %> 
  </p>

 
   </div>
   </div>
   </div> <br /><br />
   <div class="clear"></div>  
<% end %>
 </div>
 </div>
 <br />  <br />  <br />  <br /> 
  
