<% content_for :title, "| Releases" %>
<div class="main-page-header">
  <div class="m-p-h">
    <%= link_to 'Home', root_path %>  
    <span class="break">></span> 
    <%= link_to 'Releases', releases_path %> 
    <br /><br />
    <span class="artist-name-main">
    Releases
    </span>
    <br /><br />
  </div>
</div> 
<br /><br />
<div class="containernohome">  
  <div class="col-md-12"> 
    
      <%= search_form_for @q, url: url_for(releases_path) do |f| %>
     <div class="artists">
     <ul class="grid-items"> 
      <li class="col-md-3 col-xs-6 col-sm-3">
        <%= f.search_field :title_or_partist_cont, class: 'form-control custom', placeholder: 'Search...' %>
      </li>

      <li class="col-md-2 col-xs-6 col-sm-2 lirel">
        <%= f.collection_select :genres_id_eq, Genre.used.order('name asc'), :id, :name, {include_blank: 'Genre Style'}, class: 'form-control custom' %>
      </li>

      <li class="col-md-2 col-xs-6 col-sm-2 lirel">
        <%= f.collection_select :artists_id_eq, Artist.used.order('name asc'), :id, :name, {include_blank: 'Songwriter'}, class: 'form-control custom' %>
      </li>

      <li class="col-md-2 col-xs-6 col-sm-2 lirel">
        <%= f.collection_select :formats_id_eq, Format.used.order('name asc'), :id, :name, { include_blank: 'Media Type'}, class: 'form-control custom' %> 
      </li>

      <li class="col-md-3 col-xs-6 col-sm-3">
      <%= f.submit 'Search', class: 'btn btn-primary release-searching' %>
      </li>
 
</ul>
      <% end %>
    </div>
    <br /><br /><br /><br />

    <div class="clear"></div>
    <% if @releases.empty? %>
    <h1><center><br /><br />We currently have no releases matching your search criteria<br /><br />Please try again<br /><br /><br /><br /></center></h1>
    <% else %>
    <% @releases.each do |release| %>
    <div class="news releasemedia" style="width:100%">
      <div class="col-md-3 col-sm-3"> 
      <%= image_tag release.image.artistmain.url, :style => 'width:100%; height:100%; ', :class => 'img-responsive' %>
      </div>

      <div class="col-md-9 col-sm-9 releases" style="padding-right:0px">
      <div class="release-info">
      <% if release.featured_text.blank? %>
      <% else %>
      <div class="numberone">
      <%= release.featured_text %>
      </div>  
      <% end %>

      <table width="100%" class="rel-table table table-hover table-condensed">

      
      <% if release.title.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Product Title:</b></p> </td><td class="rel-two"><p><%= release.title %></p></td>
      </tr>
      <% end %>
      

      
      <% if release.partist.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Artist:</b></p> </td><td class="rel-two"><p><%= release.partist %></p></td>
      </tr>
      <% end %>
      

       
      <% if release.pformat.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Product Format:</b></p> </td><td class="rel-two"><p><%= release.pformat %></p></td>
      </tr>
      <% end %>
      

      
      <% if release.rlabel.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Record Label:</b> </p> </td><td class="rel-two"><p><%= release.rlabel %></p></td>
      </tr>
      <% end %>
      

      
      <% if release.date.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Release Date:</b></p> </td><td class="rel-two"><p><%= release.date.strftime('%-d %B %Y ') %></p></td>
      </tr>
      <% end %> 

      
      <% if release.chart_position.blank? %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Chart Position:</b></p> </td><td class="rel-two"><p>Not Applicable</p></td>
      </tr>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Chart Position:</b></p> </td><td class="rel-two"><p><%= release.chart_position %></p></td>
      </tr>
      <% end %> 

       
      <% if release.genres.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Genre Style:</b></p> </td><td class="rel-two"><p><%= release.genres.pluck(:name).map{|n| n.split(' ').map!(&:capitalize).join(' ')}.join(', ') %></p></td>
      </tr>
      <% end %> 

      
      <% if release.artists.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one"> 
       
      <p><b>BDi Songwriter:</b></p>  
      </td><td class="rel-two"><p><%= artist_list_for(release.artists) %></p></td>
      </tr>
      <% end %> 
     
     

      <% if release.body.blank? %>
      <% else %> 

      <tr width="100%" class="nohover">
      <td class="rel-one">
      <p><b>Additional Infomation:</b></p></td><td class="rel-two"><p class="body-rel"><%= release.relbody %> <%= link_to 'Read More', release_path(release) %></p>
       </p></td>
      </tr>
      <% end %>
       </table>
      </div>
      <div class="buylinks">
      <% if release.itunes.blank? %>
      <% else %>  
      <%= link_to image_tag("itunes.png", :class => "twittereal"),  release.itunes, target: "_blank" %> 
      <% end %>

      <% if release.amazon.blank? %>
      <% else %> 
      <%= link_to image_tag("amazon.png", :class => "twittereal"),  release.amazon, target: "_blank" %> 
      <% end %>
      </div>
      </div>
    </div>
    <% end %>




    <div class="clear"></div>
    <% end %>

    

    <div class="col-md-12"> 
    <div class="middle">
      <%= will_paginate @releases, :page_links => true, :previous_label => '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>', :next_label => '<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>' %> <br /><br />
      </div>
    </div>
     <br />  <br /> 
</div>
</div>


