<div class="main-page-header">
<div class="m-p-h">
<%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'Releases', releases_path %>  <span class="break">></span>  <span class="artname"> <%= @release.title %>
</span>
</span>
<br /><br />
<span class="artist-name-main">
<%= @release.title %>
</span> <br /><br /></div>
</div> 
  <br />  <br /> 

 <div class='containernohome'> 
  <div class="news"> <br />
 

    
<div class="container">
<div class="news-list">
<div class="col-md-3 icon-container" > 
  
  <%= image_tag @release.photo.url, :style => 'width:100%; height:100%;', :class => 'img-responsive newsimage' %> 

</div>
<div class="col-md-9">
<h2 style="margin-top:10px; "><%= @release.title %>
<% if @release.itunes.blank? %>
<% else %>  
 <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/03/itunes.png", :class => "twittereal", :style => "width:40px; margin-top:-10px; float:right; margin-left:10px;"),  @release.itunes, target: "_blank" %> 
<% end %>
 <% if @release.amazon.blank? %>
<% else %> 
 
 <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/03/amazon.png", :class => "twittereal", :style => "width:40px; margin-top:-10px;  float:right"),  @release.amazon, target: "_blank" %> 
<% end %>
</h2> 
 
 
<p><%= @release.body %></p> 
<p><b>Release Date: </b><%= @release.date.strftime('%-d %B %Y ') %></p> 
 <p><b>Genres:</b> <%= @release.genres.pluck(:name).map{|n| n.split(' ').map!(&:capitalize).join(' ')}.join(', ') %></p>


 



<p><b>Related Artists:</b>
<% @release.artists.each do |artist| %>
 <div class="col-md-2" style="padding:0px; margin-right:-20px;">


 
 <%= link_to (image_tag artist.photo.url, :style => 'width:100px; height:100px;', :class => 'img-responsive releaseartist'), artist_path(artist) %>

    <%= link_to artist.name, artist_path(artist) %>
    </div>
    <% end %> 
  </p>

 
   </div>
   </div>
   </div> <br /><br />
   <div class="clear"></div>  
 
 </div>
 </div> 


