<% content_for :title, "| Releases" %>
<div class="main-page-header">
<div class="m-p-h">
<%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'Releases', releases_path %>  <span class="break">></span>  <%= @release.partist %> - <%= @release.title %>
<br /><br /> 
<span class="artist-name-main">
 <%= @release.partist %> - <%= @release.title %></span> 

<br />  <br />

 </div>
</div> 
<br />  <br />

 <div class="clear"></div>

 <div class='containernohome'> 
 
<div class="news releasemedia" style="width:100%">
      <div class="col-md-3 col-sm-3"> 
      <%= image_tag @release.image.artistmain.url, :style => 'width:100%; height:100%; ', :class => 'img-responsive' %>
      </div>

      <div class="col-md-9 col-sm-9 releases" style="padding-right:0px">
      <div class="release-info">
      <% if @release.featured_text.blank? %>
      <% else %>
      <div class="numberone">
      <%= @release.featured_text %>
      </div>  
      <% end %>

      <table width="100%" class="rel-table table table-hover table-condensed">

      
      <% if @release.title.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Product Title:</b></p> </td><td class="rel-two"><p><%= @release.title %></p></td>
      </tr>
      <% end %>
      

      
      <% if @release.partist.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Artist:</b></p> </td><td class="rel-two"><p><%= @release.partist %></p></td>
      </tr>
      <% end %>
      

       
      <% if @release.pformat.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Product Format:</b></p> </td><td class="rel-two"><p><%= @release.pformat %></p></td>
      </tr>
      <% end %>
      

      
      <% if @release.rlabel.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Record Label:</b> </p> </td><td class="rel-two"><p><%= @release.rlabel %></p></td>
      </tr>
      <% end %>
      

      
      <% if @release.date.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Release Date:</b></p> </td><td class="rel-two"><p><%= @release.date.strftime('%-d %B %Y ') %></p></td>
      </tr>
      <% end %> 

      
      <% if @release.chart_position.blank? %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Chart Position:</b></p> </td><td class="rel-two"><p>Not Applicable</p></td>
      </tr>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Chart Position:</b></p> </td><td class="rel-two"><p><%= @release.chart_position %></p></td>
      </tr>
      <% end %> 

       
      <% if @release.genres.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one">
      <p><b>Genre Style:</b></p> </td><td class="rel-two"><p><%= @release.genres.pluck(:name).map{|n| n.split(' ').map!(&:capitalize).join(' ')}.join(', ') %></p></td>
      </tr>
      <% end %> 

      
      <% if @release.artists.blank? %>
      <% else %>
      <tr width="100%">
      <td class="rel-one"> 
       
      <p><b>BDi Songwriter:</b></p>  
      </td><td class="rel-two"><p><%= artist_list_for(@release.artists) %></p></td>
      </tr>
      <% end %> 
     
     

      <% if @release.body.blank? %>
      <% else %> 

      <tr width="100%" class="nohover">
      <td class="rel-one">
      <p><b>Additional Infomation:</b></p></td><td class="rel-two"><p class="body-rel"><%= @release.body %></p>
       </p></td>
      </tr>
      <% end %>
       </table>
      </div>
      <div class="buylinks">
      <% if @release.itunes.blank? %>
      <% else %>  
      <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/03/itunes.png", :class => "twittereal"),  @release.itunes, target: "_blank" %> 
      <% end %>

      <% if @release.amazon.blank? %>
      <% else %> 
      <%= link_to image_tag("http://www.bucksmusicgroup.com/wp-content/uploads/2015/03/amazon.png", :class => "twittereal"),  @release.amazon, target: "_blank" %> 
      <% end %>
      </div>
      </div>
    </div> </div>




    <div class="clear"></div>
  

  