<% content_for :title, "| Products" %>
<div class="main-page-header">
  <div class="m-p-h">
    <%= link_to 'Home', root_path %>  <span class="break">></span>  <%= link_to 'Products', products_path %>  <span class="break">></span>  <span class="artname"> <%= @product.title %>
  </span>
  <br /><br />
  <span class="artist-name-main artistmm">
    <%= @product.title %> <br />  
  </span> 
  <div class="socart">
    

    <% if @product.price.blank? %>
    <% else %>
    <span class="artist-name-main artistmm">
    £<%= @product.price %>
    </span>
    <% end %> 
  </div>  </div><br /> 
</div> 
<br />  <br /> 

<div class='containernohome'>  
 
 
  
<style>
.socart {
  margin-top:-2%;
  margin-right:30px;
}
.nopad {
  padding:0px;
}

a.buynow {
    padding: 10px;
    background-color: #848f81;
    color: #fff !important;
    display:block;
    width:100%;
    font-size:110%;
    text-align:center;
}
p.readmoreart {
  padding: 10px 0 20px 0;
  width:100%;
}
</style>

<div class="col-md-12 nopad">
<div class="col-md-3 col-sm-3 nopadleft">
<%= image_tag @product.image.url, :class => 'img-responsive newsimage' %><br />
<div class="col-md-12 nopad">
<p class="readmoreart"><a href="#" class="buynow">Buy Now</a></p>
</div>
<% if @product.artists.blank? %>
<br />
 <% else %>
<div class="extras relateartist">
 <h5>Product Artist:</h5></div>
<br />
 <% @product.artists.each do |artist| %>
 <div class="col-md-6 col-sm-6 relateartist" style="padding-left:0px;">
 
 <%= link_to (image_tag artist.photo.artistmain.url, :style => 'width:100%; height:100%;', :class => 'img-responsive artistmi'), artist_path(artist) %>

    <p class="morearticles"><%= link_to artist.name, artist_path(artist), :class =>'artist-name' %></p>
 </p>
  </div> <% end %>
<% end %>
</div>
<div class="col-md-9 newsblur col-sm-9 ">
<div class="mainblurb"> 
 <%= @product.description.html_safe %> 
 <Br /> 
  
</div>
</div>
</div>
</div>
