<!DOCTYPE html>
<html>
  <head>
    <title>
      BDi Music Ltd <%= content_for?(:title) ? content_for(:title) : " " %>
    </title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" media="all" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"> 
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <%= csrf_meta_tags %>
    <meta name="description" content="BDi Music Ltd is an independent Music Publisher" />

        <!-- for Facebook -->          
    <meta property="og:title" content="BDi Music Ltd" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/bdi-music/uploads/article/default.png" />
    <meta property="og:url" content="http://www.bdimusic.com" />
    <meta property="og:description" content="BDi Music Ltd is an independent Music Publisher" />

    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="BDi Music Ltd" />
    <meta name="twitter:description" content="BDi Music Ltd is an independent Music Publisher" />
    <meta name="twitter:image" content="https://s3-eu-west-1.amazonaws.com/bdi-music/uploads/article/default.png" />


    

    <%= yield(:head) %>

  </head>
  <body> 
   <div class="wrapper">
    <%= render 'shared/nav' %>
    <div class="clear"></div>    
    <%= yield %> 
    <br /><br />
    <div class="clear"></div>
    <%= render 'shared/footer' %>
    <%= yield :extra_footer %>
  </body>
</html>
